html {
    height: 100dvh;
}

body {
    background-color: var(--block-background-fill);
}

code {
    white-space: pre-wrap !important;
}

details > summary + p {
    display: none;
}

details > details {
    padding: var(--block-padding);
}

textarea {
    overflow: auto !important;
}

.block,
.form {
    border: none !important;
}

.tabs,
.tab-nav button.selected {
    background: var(--block-background-fill) !important;
}

.tab-nav button:first-child {
    border: var(--input-border-width) solid var(--border-color-primary) !important;
    border-left-width: 0 !important;
    border-bottom-width: 0 !important;
    background: var(--background-fill-primary) !important;
}

.tab-nav button:first-child:not(.selected) {
    border-bottom-width: var(--input-border-width) !important;
}

.tab-nav button:nth-child(2).selected {
    border-left-width: 0 !important;
}

summary,
.status {
    font-style: italic;
    opacity: 0.3;
}

summary {
    cursor: pointer;
}

footer {
    display: none !important;
}

.contain {
    display: flex;
    flex-direction: column;
}

.options {
    border: var(--input-border-width) solid var(--border-color-primary) !important;
    margin-left: calc(-1 * var(--input-border-width)) !important;
    position: unset !important;
    top: unset !important;
}

.gradio-container {
    height: 100dvh !important;
    overflow: auto;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    min-height: 100dvh !important;
}

#component-0 {
    height: 100dvh;
}

#nomenu {
    display: none !important;
}

#chatbot {
    height: auto !important;
    flex-grow: 1;
    overflow: auto;
    background-color: var(--background-fill-primary);
    border-bottom: 1px solid var(--border-color-primary) !important;
}
